vti_encoding:SR|utf8-nl
vti_author:SR|BLPC2\\Babar
vti_modifiedby:SR|BLPC2\\Babar
vti_timelastmodified:TR|12 Jun 2016 06:42:58 -0000
vti_timecreated:TR|12 Jun 2016 06:42:58 -0000
vti_cacheddtm:TX|12 Jun 2016 06:42:58 -0000
vti_filesize:IR|559
vti_cachedlinkinfo:VX|S|../images/clockface.png S|../images/sechand.png S|../images/minhand.png S|../images/hourhand.png
vti_cachedsvcrellinks:VX|FSUS|js/css3clock/images/clockface.png FSUS|js/css3clock/images/sechand.png FSUS|js/css3clock/images/minhand.png FSUS|js/css3clock/images/hourhand.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default.htm
