vti_encoding:SR|utf8-nl
vti_author:SR|BLPC2\\Babar
vti_modifiedby:SR|BLPC2\\Babar
vti_timelastmodified:TR|12 Jun 2016 06:42:41 -0000
vti_timecreated:TR|12 Jun 2016 06:42:41 -0000
vti_cacheddtm:TX|12 Jun 2016 06:42:41 -0000
vti_filesize:IR|27402
vti_cachedlinkinfo:VX|S|../bucket-ico-fonts/bucket-ico-font.eot S|../bucket-ico-fonts/bucket-ico-font.eot S|../bucket-ico-fonts/bucket-ico-font.woff S|../bucket-ico-fonts/bucket-ico-font.ttf S|../bucket-ico-fonts/bucket-ico-font.svg
vti_cachedsvcrellinks:VX|NSUS|bucket-ico-fonts/bucket-ico-font.eot NSUS|bucket-ico-fonts/bucket-ico-font.eot NSUS|bucket-ico-fonts/bucket-ico-font.woff NSUS|bucket-ico-fonts/bucket-ico-font.ttf NSUS|bucket-ico-fonts/bucket-ico-font.svg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|css/style.css
