vti_encoding:SR|utf8-nl
vti_author:SR|BLPC2\\Babar
vti_modifiedby:SR|BLPC2\\Babar
vti_timelastmodified:TR|12 Jun 2016 06:42:59 -0000
vti_timecreated:TR|12 Jun 2016 06:42:59 -0000
vti_cacheddtm:TX|12 Jun 2016 06:42:59 -0000
vti_filesize:IR|6149
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default.htm
